.rodape {
    margin-top: 200px;
    padding-bottom: 450px;
}

.logo_rodape {
    position: absolute;
    right: 1260px;
}

.redes_sociais{
    position: absolute;
    right:265px;
}

.hr_rodape {
    width: 1115px;
    position: absolute;
    right: 258px;
    top:2140px;
}

.textos_rodape {
    color: #6c757d;
    font-size: 15px;
    font-weight: bold;
    display:flex;
    font-family: 'Karla', sans-serif;
    position: absolute;
    right:1010px;
    bottom: -1500px;
}

.itens_our_company {
    position: absolute;
    top: 90px;
    left:0px;
    line-height: 40px;
    color: black;
}

.itens_help_me {
    position: absolute;
    top: 0px;
    left:287px;
    line-height: 40px;
    white-space : nowrap;
}

.itens_contact {
    position: absolute;
    top: 0px;
    left:565px;
    line-height: 40px;
}

.itens_others {
    position: absolute;
    top: 0px;
    left:850px;
    line-height: 40px;
}



.help_me{
    position: relative;
    left: 160px;
}

.contact {
    position: relative;
    left: 360px;
}

.others {
    position: relative;
    left: 560px;
}


.pagina_dois{
    color:#000000;
    background-color: #FFFFFF;
    padding:100px;
    font-size: 70px;
    font-weight: 200;
    line-height: 65px;
    font-family: 'DM Serif Display', serif;
}

.segundo_hr {
    position: relative;
    top: 100px;
    width: 152px;
    margin-left:115px;
}


.caracteristicas {
    display: flex;
}

.imagens_caracteristicas_um {
    object-fit: cover;
    margin-left:110px;
}
.imagens_caracteristicas_dois {
    object-fit: cover;
    position: static;
    margin-left:-10px;
}
.imagens_caracteristicas_tres {
    object-fit: cover;
    position: static;
    margin-left:81px;
}

.snappy_process{
    font-family: 'DM Serif Display', serif;
    font-size: 28px;
    margin-top: 110px;
    margin-left:110px;
    position: relative;
    right: 195.8px;
}
.affordable_prices{
    font-family: 'DM Serif Display', serif;
    font-size: 28px;
    margin-top: 110px;
    position: relative;
    right: 86px;
}
.people_first {
    font-family: 'DM Serif Display', serif;
    font-size: 28px;
    margin-top: 110px;
    position: absolute;
    right: 466px;
}

.texto_snappy {
        font-size: 16px;
        color: #6c757d;
        position: absolute;
        left: 210px;
        line-height: 25px;   
        font-family: 'Karla', sans-serif;
}

.texto_affordable {
    font-size: 16px;
    color: #6c757d;
    position: absolute;
    left: 589px;
    line-height: 25px;   
    font-family: 'Karla', sans-serif;
}

.texto_people {
    font-size: 16px;
    color: #6c757d;
    position: absolute;
    left: 972px;
    line-height: 25px;   
    font-family: 'Karla', sans-serif;
}

.caixa_how_we_work {
    margin-top: 200px;
    margin-left: 112px;
    background-color: hsl(256, 26%, 20%);
    color: #FFFFFF;
    padding-left: 60px;
    padding-right:60px;
    padding-top: 28px;
    padding-bottom: 18px;
    width: 982px;
    font-size: 35px;
    line-height: 60px;
    font-family: 'DM Serif Display', serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}

.pagina_tres {
    font-weight: 100;
}

.botao_caixa_how_we_work {
    background-color: hsl(256, 26%, 20%);
    border-style: solid;
    border-color: white;
    border-width: -30px;
    width: 160px;
    height: 36px;
    padding-bottom: 7px;
    padding-top: -1px;
    font-size: small;
    font-family: 'Karla', sans-serif;
    position:absolute;
    right: 370px;
    top: 1700px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.imagem_how_we_work {
    position: absolute;
    top:1px;
    right:1px;
}

.letrinha {
    position: absolute;
    top:-9px;
    right:38px;
    color:white;
}
